@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("./NameEntity.scss");
@import url("./Criteria.scss");
@import url("./Action.scss");
@import url("./Playbook.scss");
@import url("./NewPlaybook.scss");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
.App {
  background-color: #f3f5f5;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
