.name-entity-container {
  width: 100%;
  .body {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .upper {
      background-color: white;
      border-radius: 10px;
      border: 1px solid #e5e7eb;
      padding: 20px;
    }
    .name-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      gap: 10px;
      span {
        color: red;
      }
      input {
        width: 400px;
        height: 40px;
        text-align: center;
        border: 1px solid;
        border-radius: 5px;
      }
    }
    .entity-section {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 100px;
      margin-top: 10px;
      align-items: center;
      .sub-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        p{
          display: flex;
          align-items: center;
          gap: 3px;
        }
        button {
          padding: 10px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          font-weight: 500;
          background-color: #1c64f2;
          color: white;
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
        }
        .input-field {
          width: 200px;
          height: 40px;
          text-align: center;
          border: 1px solid;
          border-radius: 5px;
        }
      }
    }
    .criteria-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: aliceblue;
      padding: 10px;
      align-items: center;
      max-height: calc(100vh - 355px);
      overflow: scroll;
      background-color: white;
      border: 1px solid #e5e7eb;
      border-radius: 8px;
      height: 230px;
      gap: 10px;
      .criterion {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .input-field{
        width: 300px;
        height: 40px;
        text-align: center;
        border: 1px solid;
        border-radius: 5px;
      }
      .empty{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        h1{
          font-size: 18px;
          display: flex;
          gap: 4px;
          align-items: center;
        }
        p{
          font-size: 10px;
          color: #0e2933;
        }
      }
    }
    .criteria-list::-webkit-scrollbar {
      display: none;
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    background-color: white;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: end;
    gap: 10px;
    display: flex;
    padding-right: 35px;
    button {
      padding: 10px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 500;
      background-color: #1c64f2;
      color: white;
      width: 80px;
    }
    .b1 {
      background-color: transparent;
      color: black;
    }
  }
}
